/*  your css code here. If applicable */
table,td{
	border: 1px solid black;
}
table{
	width:90%;
	border-collapse:collapse;
}
.center{
	text-align:center;
}
.right{
	text-align:right;
}
#t12{
	text-align:center;
}